html {
  height: 100%;
}

body {
  display: flex; /* Set <body> as a parent item so that the footer places at the very bottom of the page.  */
  flex-direction: column; /* Make all child items in the y axis direction so that the footer places at the very bottom of the page.  */
  height: 100%; /* This is for the footer to place at the very bottom of the page.  */
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  /* color: silver; */
}

main {
  flex: 1;
}

a
{
  text-decoration: none; /* Delete all underlines of links.  */
}  

li {
  list-style: none;
}


/* CSS for footer */
body > footer
{
  padding-bottom: 14px;
}

body > footer > div
{ 
  width: 43px;  /* The diameter of the circle */
  height: 43px;  /* The diameter of the circle */
  border-radius: 50%;  /* Make the <div> to a circle. */
  box-shadow: 1px 1px 1px #ccc;  /* Add light shadow to <div>. */
  position: fixed;  /* This is for <a> to set at the center of <div>. */
  bottom: 30px;  /* <div> is placed by 30px from the bottom of the screen. */
  right: 30px;  /* <div> is placed by 30px from the right of the screen. */
  background-color: #E8E5C8;
}

body > footer > div > a
{
  position: absolute;  /* The figure is placed abusolutely based on its parent item, <div>. */
  top: 39%;  /* The figure start at 39% from the top. */
  left: 50%;  /* The figure start at 50% from the left. */
  width: 15px;  /* The length of one side of a corner. */
  height: 15px; /* The length of one side of a corner. */
  margin-left: -7.2px; /* The figure is placed at 7.2px from the left side. */
  border-left: 2px solid #29383A;  /* The colour and width of one side of a corner. */
  border-bottom: 2px solid #29383A;  /* The colour and width of one side of a corner. */
  transform: rotate(-225deg);  /* The figure is placed upward. */
  box-sizing: border-box;  /* The height and width of the figure include its padding and border. */
}

body > footer > p
{
  text-align: center;/* Place the text at the center of the bottom. */
  line-height: 1;
  font-size: 0.7rem;  /* The font size is 14px. */
  color: rgba(232, 229, 200, 0.6);
  letter-spacing: -0.3px;  /* The space between characters is a little narrower. */
}




/* CSS for the menu bar */
.menu_bar
{
  display: flex; 
  justify-content: space-between;  
  height: 70px;
  width: 100%; 
}

.menu_bar > .menu_bar_title
{
  align-self: center; 

  padding-left: 60px;
  text-shadow: 1px 1px 1px rgb(160, 160, 160);
  color: #dfded9;
}

.menu_bar > .menu_bar_items
{
  align-self: flex-start; 
  text-shadow: 1px 1px 1px rgb(160, 160, 160); 
  padding-top: 20px;   /* THe space between the link and the top of the window. */
}

.menu_bar a
{
  color: #E8E5C8; 
  padding: 3px 14px 3px 14px; 
  font-size: 0.7rem; 
  font-weight: normal; 
  border-top: rgba(233, 233, 233, 0) solid 1px;
  border-bottom: rgba(233, 233, 233, 0) solid 1px;
}

.menu_bar_items > a:hover
{
  border-top: rgb(233, 233, 233) solid 1px; /* Once each menu item is on hover, border-top and border-bottom ill appear slowly. */
  border-bottom: rgb(233, 233, 233) solid 1px; /* Once each menu item is on hover, border-top and border-bottom ill appear slowly. */
  transition: all .6s ease; /* The stansition require all CSS functions and 0.6 seconds. The movement style is "ease"(move smoothly). */
}

.menu_bar a:visited
{
  color: #aeb9ab; /* Chane the font colour after being clicked.  */
}

.menu_bar_items > .current_page
{
  border-top: rgb(233, 233, 233) solid 1px;
  border-bottom: rgb(233, 233, 233) solid 1px;
}




/* CSS for main page */
.index > main > div {
  height: 100%;
}




/* CSS for about page */
.about > main {
  margin: 50px 300px 0px 300px;    
}

.about > main >article > h2 {
  padding-top: 135px;
}



/* CSS for access page */
.access article {
  margin-top:130px;
}

.access article > h2 {
  text-align: center;
}

.access article > address {
  display: flex;
  justify-content: space-around;
}

.access article > address > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access article > address > div > a {
  color: silver;
}

.businessHour {
  display: flex;
  flex-direction: column;
}

.businessHour > ul {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.businessHour > ul > li {
  list-style: none;
}



/* CSS for plans page */
.plans .uk-card-body {
  height: 310px;
  padding: 0;
}

.plans .uk-card-body > img {
  width: 100%;
}

.plans .uk-transition-fade {
  margin: 30px 30px 20px 30px;
  background-color: rgba(226, 226, 226, 0.658);
  height: 250px;
}


body.login > main > form {
  /* display: inline-block; */
  width: 300px;
}

